*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --Violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%)
}
body {
  background-image: url('/images/bg-desktop.svg');
  padding: 2em 0.5em;
}
.main{
  width: 100%;
  background-image: url('/images/bg-desktop.svg');
  background-size: cover;
  background-repeat: none;
  background-color: var(--Violet);
  height: 80vh;
  padding: 2em;
  padding: 50% 2em;
  margin-bottom: 2em;
}
header img{
  width: 20%;
  margin-bottom: 20px;
}
.container{
  display: flex;
  color: white;
  font-weight: 400px;
  margin-bottom: 1em;
}
.image{
  width: 50%;
  margin-right: 1em;
}
.image img{
  width: 100%;
  height: 100%;
}
.section{
  width: 50%;
  margin-left: 1em;
  padding-top: 2em;
}
.section h1{
  font-weight: 600;
  margin-bottom: 1em;
  padding-right: 2em;
  font-family: 'poppins', Sans-Serif;
}
.section p{
  margin-bottom: 1.5em;
  font-family: 'Open Sans', Sans-Serif;
}
.section a{
  color: var(--Violet);
  background-color: white;
  padding: 0.7em 3em;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}
.section a:hover{
  color: white;
  background-color: var(--softMagenta);
}
.icon {
  text-align: right;
  justify-content: right;
  width: 100%;
  height: 20%;
}
.icon i{
 color: white;
 border-style: solid;
 border-width: 1px;
 border-radius: 50px;
 border-color: white;
 padding: 0.5em;
 margin-right: 0.5em;
}
.icon i:hover{
  background-color: var(--softMagenta);
  border-color: var(--softMagenta);
}
#facebook {
  padding: 0.5em 0.7em;
}
#instagram{
  margin-right: 0em;
}
footer {
  margin-bottom: 2em;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media only screen and (max-width: 375px;){
  .container{
    flex-direction: column;
    height: auto;
  }
  .image{
    width: 100%;
  }
  .main{
    background-image: url('/images/bg-mobile.svg');
    background-size: cover;
    background-repeat: none;
    background-color: var(--Violet);
    width: 100%;
  }
}    
@media only screen and (min-width: 1440px;){
  .main{
    background-image: url('/images/bg-desktop.svg');
    background-size: cover;
    background-repeat: none;
    background-color: var(--Violet);
    height: 100vh;
    padding: 50% 2em;
  }
}